.all-tasks{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 80px;
    flex-direction: column;
}
.all-tasks .container{
    width: 100%;
    height: 800px;
    background-color: inherit;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    overflow-y: scroll ;
    div{
        width: 90%;
        height: 22rem;
        background-color: var(--task-card-background-color);
        margin: 10px 10px 15px 0;
        padding: 1.2rem 1rem;
        border-radius: 15px;
        @media screen and (max-width: 768px) {
            height: 23rem;
        }
        &:hover{
            transition: all 0.4s ease-in-out ;
            box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
            transform: scale(1.01);
        }

        h3{
            width: 100%;
            text-align: justify;
            font-size: 1.2rem;
            padding:0.4rem;
            @media screen and (max-width: 768px) {
                font-size: 0.9rem;
            }
        }
        h4{
            width: 100%;
            height: 10.2rem;
            display: flex;
            text-align: justify;
            text-transform: capitalize;
            padding:0.4rem;
            font-size: 1.2rem;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            border-radius: 0.5rem;
            background-color: rgb(86, 111, 178);
            @media screen and (max-width: 768px) {
                font-size: small;
            }
        }
        .complete{
            font-size: 1rem;
            padding-right: 0.5rem;
            text-transform: capitalize;
            font-weight: bold;
            color: forestgreen;
        }
        .incomplete{
            font-size: 1rem;
            padding-right: 0.5rem;
            text-transform: capitalize;
            font-weight: bold;
            color: firebrick;
        }
        h6{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 0.5rem;
            span{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #1F183D;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                cursor: pointer;
            }
        }
        .priority-level{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            span{
                font-weight: bolder;
                margin-right: 8px;
            }
        }
    }
}
